*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Work Sans';
    background:rgb(202, 196, 204);
}
.container{
    display:flex;
   
}
.left_bar{
    margin-top: 5%;
    width:30%;
    background:yellowgreen;
}
.right_bar{
    margin-top: 5%;
    width:70%;
    background:powderblue ;
}
.img{
    margin-left: 5%;
    margin-top:2%;
}
ul li{
    list-style-type:none;
    margin-left: 15%;
    line-height: 50px;
    font-weight: bold;
}